
@{
    ViewBag.Title = "Index";
}


<style>
    .main {
        width: 100%;
        height:auto;
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0px;
        margin: 0px;
    }

    /********************************/

    section {
        background-color: #f2f2f2;
        padding: 20px;
        font-family: Arial, sans-serif;
        text-align: justify;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
  
</style>
<div class="main">
    <section class="section-conferences">
        <h2>Notre Application Web de Gestion de Conférences</h2>
        <p>Notre application web de gestion de conférences facilite l'organisation, la coordination et la participation à des conférences. Elle offre une gamme complète de fonctionnalités pour les organisateurs et les participants.</p>

        <div class="features-container">
            <div class="feature">
                <h3>Organisateurs</h3>
                <p>En tant qu'organisateur, vous pouvez créer et gérer des événements en spécifiant les détails, personnalisant les options d'inscription et en utilisant notre système de gestion des inscriptions.</p>
            </div>

            <div class="feature">
                <h3>Participants</h3>
                <p>Pour les participants, notre application propose une interface conviviale pour parcourir, s'inscrire et payer en ligne. Elle est également compatible avec les appareils mobiles pour un accès facile et une gestion pratique.</p>
            </div>

            <div class="feature">
                <h3>Fonctionnalités Avancées</h3>
                <p>Nous prenons en charge des fonctionnalités avancées telles que la gestion des intervenants, la planification des sessions parallèles et l'envoi de notifications aux participants.</p>
            </div>
        </div>

        <p>Que vous soyez un organisateur passionné ou un participant enthousiaste, notre application de gestion de conférences vous accompagne à chaque étape du processus.</p>
        <p>N'hésitez pas à explorer notre application et à nous contacter pour des expériences de conférence exceptionnelles et mémorables !</p>
        <hr />
    </section>
      
    <section class="section2">
        <h2>Section 2</h2>
        <img src="https://exemple.com/chemin_vers_image2.jpg" alt="Image 2">
        <p>Nullam nec enim faucibus, faucibus libero sed, tempus velit. Fusce non erat dolor. Phasellus a mi eu nulla consequat suscipit et at quam. Sed et pretium mauris.</p>
    </section>

    <section class="section3" style="height:auto;">
        <center>
            <h2>NOS CONFERENCIERS</h2>
        </center><br />
        <div class="container">
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Team Huddle</h5>
                            <div class="card-text text-black-50">Web Developer</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Team Huddle</h5>
                            <div class="card-text text-black-50">Web Developer</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Team Huddle</h5>
                            <div class="card-text text-black-50">Web Developer</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Team Huddle</h5>
                            <div class="card-text text-black-50">Web Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>

</div>


