
@{
    ViewBag.Title = "Index";
}


<style>
    .main {
        width: 100%;
        height: 750px;
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0px;
        margin: 0px;
    }
</style>
<div class="main">
    <section class="section1">
        <h2>Section 1</h2>
        <img src="https://exemple.com/chemin_vers_image1.jpg" alt="Image 1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ultrices nisi vitae mattis. Donec consectetur, velit sed sollicitudin dignissim, velit tellus efficitur tellus, nec faucibus mauris nulla id ligula.</p>
    </section>

    <section class="section2">
        <h2>Section 2</h2>
        <img src="https://exemple.com/chemin_vers_image2.jpg" alt="Image 2">
        <p>Nullam nec enim faucibus, faucibus libero sed, tempus velit. Fusce non erat dolor. Phasellus a mi eu nulla consequat suscipit et at quam. Sed et pretium mauris.</p>
    </section>

    <section class="section3">
        <h2>Section 3</h2>
        <img src="https://exemple.com/chemin_vers_image3.jpg" alt="Image 3">
        <p>Praesent ullamcorper semper elit, nec tincidunt metus fringilla a. Proin vehicula viverra nulla, ac blandit urna mattis et. Sed ac elit sed urna finibus vulputate.</p>
    </section>

</div>


